<footer class="footer">
  <div class="footer-wrap">
    <img
      src="/webflow-pages/assets/Footer-bg.png"
      loading="lazy"
      sizes="(max-width: 673px) 100vw, 673px"
      alt="Footer-bg"
      class="footer-bg"
    />
    <div class="w-layout-blockcontainer container-small w-container">
      <div class="footer-inner">
        <div class="footer-main-wrap">
          <div class="footer-main-link">
            <a href="/" class="footer-link w-inline-block"
              ><div class="footer-link-text">/Homepage</div></a
            ><a href="/about-us" class="footer-link w-inline-block"
              ><div class="footer-link-text">/About Us<br /></div></a
            ><a href="/services" class="footer-link w-inline-block"
              ><div class="footer-link-text">/Services</div></a
            ><a href="/blog" class="footer-link w-inline-block"
              ><div class="footer-link-text">/Blogs</div></a
            ><a href="/contact" class="footer-link w-inline-block"
              ><div class="footer-link-text">/Contact</div></a
            >
          </div>
          <div class="footer-logo-wrap">
            <img
              width="Auto"
              loading="lazy"
              alt="footer-logo"
              src="/webflow-pages/assets/TalentszaLog.png"
              class="footer-logo"
            />
          </div>
          <div class="footer-contact-wrap">
            <a href="mailto:info@talentsza.com" class="footer-contact-text">info@talentsza.com</a>
            <div class="footer-contact-text">
              Coimbatore, Tamil Nadu, India
            </div>
            <a href="tel:+91-9626626866" class="footer-contact-text">+91-96266 26866</a>
            <div class="footer-social-icons">
              <a href="{{VITE_FACEBOOK_URL}}" target="_blank" class="footer-social-link w-inline-block"><div class="icon"></div></a
              ><a href="{{VITE_LINKEDIN_URL}}" target="_blank" class="footer-social-link w-inline-block"><div class="icon"></div></a
              ><a href="{{VITE_INSTAGRAM_URL}}" target="_blank" class="footer-social-link w-inline-block"><div class="icon"></div></a
              ><a href="{{VITE_BLOG_URL}}" target="_blank" class="footer-social-link w-inline-block"><div class="icon"></div></a
              >
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-bottom-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
