<header class="header header-one">
  <div class="header-main header-one">
    <div class="w-layout-blockcontainer container w-container">
      <div
        data-animation="default"
        data-collapse="medium"
        data-duration="400"
        data-easing="ease"
        data-easing2="ease"
        role="banner"
        class="navbar w-nav"
      >
        <div class="logo-wrap">
          <a href="/" class="logo-link header-one w-nav-brand"
            ><img
              width="140"
              height="38"
              alt="white-logo"
              src="/webflow-pages/assets/TalentszaLog.png"
              class="logo"
          /></a>
          <aside role="navigation" class="nav-one-menu w-nav-menu">
            <ul role="list" class="nav-menu w-list-unstyled">
              <li class="nav-list">
                <a href="/" class="nav-link w-inline-block"
                  ><div class="nav-text-wrap">
                    <div class="nav-text">Home</div>
                  </div></a
                >
              </li>
              <li class="nav-list">
                <a href="/about-us" class="nav-link w-inline-block"
                  ><div class="nav-text-wrap">
                    <div class="nav-text">About Us</div>
                  </div></a
                >
              </li>
              <li class="nav-list">
                <a href="/our-team" class="nav-link w-inline-block"
                  ><div class="nav-text-wrap">
                    <div class="nav-text">Our Team</div>
                  </div></a
                >
              </li>
              <li class="nav-list">
                <a href="/services" class="nav-link w-inline-block"
                  ><div class="nav-text-wrap">
                    <div class="nav-text">Services</div>
                  </div></a
                >
              </li>
              <li class="nav-list">
                <a href="/blog" class="nav-link w-inline-block"
                  ><div class="nav-text-wrap">
                    <div class="nav-text">Our Blog</div>
                  </div></a
                >
              </li>
              <li class="nav-list">
                <a href="/contact" class="nav-link w-inline-block"
                  ><div class="nav-text-wrap">
                    <div class="nav-text">Contact</div>
                  </div></a
                >
              </li>
            </ul>
          </aside>
        </div>
        <div class="header-right-content display-none-991">
          <div class="header-social-icons">
            <a
              href="{{VITE_FACEBOOK_URL}}"
              target="_blank"
              class="header-social-link w-inline-block"
              ><div class="header-social-icon"></div></a
            ><a
              href="{{VITE_LINKEDIN_URL}}"
              target="_blank"
              class="header-social-link w-inline-block"
              ><div class="header-social-icon"></div></a
            ><a
              href="{{VITE_INSTAGRAM_URL}}"
              target="_blank"
              class="header-social-link w-inline-block"
              ><div class="header-social-icon"></div></a
            ><a
              href="{{VITE_BLOG_URL}}"
              target="_blank"
              class="header-social-link w-inline-block"
              ><div class="header-social-icon"></div></a
            >
          </div>
          <div class="header-btn">
            <a
              href="/contact"
              data-wf--button--variant="secondary-bg"
              data-w-id="8932a183-40ec-c216-e8b4-670b55f18dc8"
              class="button-link w-inline-block"
              ><div class="button-hover-overlay"></div>
              <div class="button-text-wrapper">
                <div class="button-text-wrap">
                  <div class="button-text">Get in Touch</div>
                  <div class="button-text-hover">Get in Touch</div>
                </div>
              </div>
              <div class="button-arrow-wrapper">
                <div class="button-arrow-wrap">
                  <img
                    src="https://cdn.prod.website-files.com/6944f1597ac277b25076ccab/696f63876d24cb09a16150a7_button-arrow.svg"
                    loading="lazy"
                    width="20"
                    height="20"
                    alt="button-arrow"
                    class="button-arrow"
                  />
                </div></div
            ></a>
          </div>
        </div>
        <div class="menu-button w-nav-button">
          <div class="menu-icon w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</header>
